#nprogress {
    pointer-events: auto !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100 !important;
}

#nprogress .bar {
    background: #003bf1;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #003bf1, 0 0 5px #003bf1;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: flex !important;
    position: fixed;
    z-index: 1031 !important;
    top: 0px !important;
    right: 0px !important;
    width: 100% !important;
    height: 100% !important;
    justify-items: center;
    align-items: center;
    background-color: rgb(30 41 59 / 0.5);
    /* background-color: white !important; */
}

#nprogress .spinner-bg {
    margin: auto;
    width: 140px !important;
    height: 60px !important;
    padding: 0.5rem;
    z-index: 1031 !important;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

#nprogress .spinner-icon {
    /* margin: auto; */
    width: 40px !important;
    height: 40px !important;
    box-sizing: border-box;

    border: solid 3px transparent !important;
    border-top-color: #F1A410 !important;
    border-left-color: #F1A410 !important;
    border-radius: 50px !important;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}


.nprogress-custom-parent {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    background-color: rgb(30 41 59 / 0.5);
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}